body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a :hover {
color: #c78c19;
text-decoration: underline;
}

.listaDeProdutos{
	width: 940px;
	margin: 0 auto;/*Margem de 0 pra cima e baico e automatico para os lados*/	
	padding: 50px 0;/*espaçamento dos elementos da lista da barra cinza 50% pra cima/baixo e 0 pros lados*/
}

.listaDeProdutos li:hover {
	border-color: #c78c19;
}

.listaDeProdutos li:hover h2 {
	font-size: 40px;
}

.listaDeProdutos li:active {
	border-color: #088c19;
}

.listaDeProdutos li {
	display: inline-block;/*1*/
	text-align: center;/*todo conteudo ficará ao centro da div*/
	width: 30%;
	vertical-align: top;/*2*/
	margin:0 1.5% ;
	padding: 30px 20px ;/*espacamento interno*/
	box-sizing: border-box;/*3*/
	/*border-color: #000000;
	border-width: 2px;
	border-style: solid;*/
	border: 2px solid #000000;
	border-radius: 10px;
}

.listaDeProdutos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 20px;
}
.copyrigth{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}
main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;

}

form label, form legend{/*form é inline, todos na mesma linha; aqui transformo em block pra ficar um abaixo do outro*/
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.enviar:hover {
	background: red;
	transform: scale(1.2) rotate(70deg);
}
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
/*Css da página inicial*/
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;/*2x o tamanho da fonte padrao do navegagor*/
	margin: 0 0 1em;
	clear: left;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-weight: italic;
}

.imgUtensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.imagembeneficios {
	width: 60%;
}

.mapa {
	padding: 3em 0;
}

.mapa p{
	margin: 0 0 2em;
}
/*[float] faz o elemento flutuar, onde o conteudo contorna ele. Mas sem entrar embaixo
  [clear] Faz nao aplicar float naquela classe
*/
/*[nav a:hover]
hover é quando o mouse passa encima de um link
a: hover é quando o mouse passa em cima dos links de "a";
nav a:hover é quando o mouse estiver por cima dos links dentro do menu de navegaçao
*/

/* [padding:]
aumenta o espaçamento interno do item e consequentemente o tamanho do item
*/

 /* [inline-Block]

 transforma o bloco lista que antes ocupava 100% da 
largura da pagina, agora ocupando somente o espaço que o elemento consiste*/

/*[vertical-align: top]

O inline-block alinha os elementos pela linha de baixo,
	 aqui estou alinhando obrigatoriamente pela linha de cima*/

/*[box-sizing: border-box;]

No css utilizando ora px ora percentual ele pensa como se fosse somando os 2,
ou seja 2 li com 50% de tamanho mais 20px de padding ele deixa os elementos um abaixo do outro, inves de ao lado.
E esse [box-sizing: border-box;] muda a forma que o css entende. Agora todos px e % estao dentro do 100% dessa classe */

/*Em nivel de relevaria inline>id>class>tag ou seja se tiver uma classe com color black e uma tag com color white, sera exposto black*/